//项目提供scss全局变量

//主题色
$base-color: #0026ff;
//主要字体颜色
$base_font_color: #252525;

//左侧菜单栏盒子宽度
$base_menu_width: 126px;
//左侧菜单栏盒子高度
$base_menu_height: 600px;
//左侧菜单栏最小宽度
$base_menu_min_width: 64px;
//左侧菜单栏背景颜色
$base_menu_background: #D7D7D7;

// 顶部导航的高度
$base_tabbar_height:50px;
